body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;  
}

h1 {
    font-size: 3em;
    color: #609;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    border: solid 1px #4c0072; 
    background-color: #f0e6f5;
    padding: .5em;
    margin-bottom: 0;
}

h2 {
    background-color: #f0e6f5;
    font-style: italic;
    font-size: 1.5em;
    padding: 0.25em .5em;
} 

h2, h3, h4 {
    color: #99007f;
}

.underline{
    border-bottom: solid 5px #ff6600;
}

ul{
    list-style-type: square;
}

/* .highlight {
    color: #f60;
}

p.highlight{
    font-weight: bold;
    color: rgb(76, 0, 255);
} */

a:link {
    color: #609;
}

a:visited {
    color: 876399;
}

a:hover {
    color: #390;
}

.intro {
    font-size: 1.5em;
    color: #72005f;
    font-style: italic;
}

h3 {
    border-bottom: 1px solid;
    padding-bottom: 0.25em;

}
.Navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #d9eece;
    border: solid 1px #4c0072;
    display: flex;
}.Navigation a {
    text-decoration: none;
    display: block;
    color: #226800;
    font-weight: bold;
    padding: 0.75em 1em;
    background-color: #C4E8B1;
}